{% extends 'base.html' %}

{% load static %}

{% block title %}Публичные записи{% endblock %}

{% block content %}
<div class="container">
    <!-- Центрируем заголовок -->
    <h1 class="text-center">Публичные записи</h1>

    <!-- Форма поиска -->
    <div class="text-center mb-4">
        <form method="get" action="{% url 'diary:search' %}">
            {% csrf_token %}
            <div class="input-group">
                {{ search_form.query }}
                <button class="btn btn-primary" type="submit">Поиск</button>
            </div>
        </form>
    </div>

    <!-- Картинка сверху страницы -->
    <div class="text-center mb-4">
        <img src="{% static 'images/3.png' %}" alt="Публичные записи" class="img-fluid" style="max-width: 300px; height: auto;">
    </div>

    <!-- Если нет записей, показываем сообщение -->
    {% if entries %}
        {% for entry in entries %}
            <div class="card mb-3">
                <div class="card-body">
                    <!-- Ссылка на подробный просмотр записи -->
                    <h5 class="card-title">
                        <a href="{% url 'diary:entry_detail' entry.id %}">{{ entry.title }}</a>
                    </h5>

                    <!-- Если у записи есть изображение, показываем его с заданными стилями -->
                    {% if entry.image %}
                        <img src="{{ entry.image.url }}" alt="Изображение записи"
                             class="img-fluid mb-3" style="width: 100%; max-width: 300px; height: auto; object-fit: cover;">
                    {% endif %}

                    <!-- Добавление фильтра truncatechars -->
                    <p class="card-text">{{ entry.content|truncatechars:1000 }}</p>

                    <p class="card-text">
                        <small class="text-muted">Автор: {{ entry.author.email }} | Дата: {{ entry.created_at }}</small>
                    </p>

                    {% if user.is_authenticated %}
                        {% if entry.author == user %}
                            <!-- Кнопка для редактирования личной записи -->
                            <a href="{% url 'diary:update_entry' entry.id %}" class="btn btn-primary">Редактировать</a>

                            <!-- Кнопка для удаления записи -->
                            <a href="{% url 'diary:delete_entry' entry.id %}" class="btn btn-danger"
                               onclick="return confirm('Вы уверены, что хотите удалить эту запись?')">Удалить</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Нет доступных записей.</p>
    {% endif %}
</div>
{% endblock %}